@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabeçalho{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 24px;

}

.icons{
    display: flex;
    color: white;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Sarala', sans-serif;
    gap: 30px;
}

.conteudo-de-cima{
    color: white;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Sarala', sans-serif;
}

.min-logo{
    height: 62px;

}

#conteudo{
     margin-bottom: 48px;
     border-top: 0.4px solid #FFF2E7;
}

.cabeçalho-meio{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.belle{
    font-family: 'Righteous', cursive;
    margin-bottom: 25px;
    font-weight: 200;
    font-size: 64px;
    color: #FFF2E7;
}

.belle-meio{
    font-family: 'Sarala', sans-serif;
    margin-bottom: 25px;
}

.button-meio{
    font-family: 'Sarala', sans-serif;
    margin-bottom: 25px;
    border-color: white;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    width: 120px;
    height: 55px;
}

.logo{
    height: 490px;
}

.texto-baixo{
    font-family: 'Sarala', sans-serif;
    margin-top: 48px;
    gap: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.baixo{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
    color: #FFF2E7;
}

.texto-min-baixo{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FFF2E7;

}

#logo-inferior{
    border-top: 0.4px solid #FFF2E7;
    padding: 32px;
}

.imagen-inferior{
    height: 48px;
    display: block;
    margin: 0 auto; 
}